body{
    font-family: sans-serif;
}

*{
    margin: 0;
}

.body{
    display: flex;
}

.sep{
    width: 80%;
    height: 3px;

    margin: 3% auto;


    background-color: rgb(208,208,208);
}

.mainContent{
    width: 61.70%;
    padding: 20px 30px;

    box-sizing: border-box;
}

.aside{
    width: 38.3%;
    
    background-color: rgb(228, 228, 228);

    box-sizing: border-box;
}

.title{
    margin-bottom: 5%;

    font-size: 48px;
}

.name{
    text-transform: uppercase;
    color: rgb(127,127,127);
}

.description{

    font-size: 1.7em;
}

.description > p{
    margin: 1.7% 0;
}

.project{
    margin-bottom: 6%;
}

.div-title{
    margin-bottom: 4%;
    text-align: center;
    font-size: 38px;
    
    text-transform: uppercase;
}

.project-time{
    margin-bottom: 2%;

    font-weight: 100;
    color: rgb(127,127,127);
}

.project-description{
    font-size: 1.5em;
}

.course{
    margin-bottom: 4%;
}

.where, .course-duration{
    font-weight: normal;
}

.photo{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 70%;
}

.info-block{
    margin-left: 15%;
    margin-bottom: 8%;
}

.contact-title{
    text-align: left;
}

.contact-list{
    margin-left: -6.4%;
    list-style-type: none;
    font-size: 1.5em;
}

.contact-item{
    margin-bottom: 5%;
}

/* si o si debo definir un width porque sino, los iconos usaran medidas disintas */
.contact-icon{
    width: 20px;
}

.contact-text{
    margin-left: 4%;
}

.skill-list{
    margin-left: -3.4%;
    font-size: 1.5em;
}

.skill, .hobbie{
    margin-bottom: 1.5%;
}

.hobbies-list{
    margin-left: -3.4%;
    font-size: 1.5em;
}