body{
    font-family: sans-serif;
}

*{
    margin: 0;
}

.body{
    display: flex;
}

.sep{
    width: 80%;
    height: 3px;

    margin: 3% auto;


    background-color: rgb(208,208,208);
}

.mainContent{
    width: 61.70%;
    padding: 20px 30px;

    box-sizing: border-box;
}

.aside{
    width: 38.3%;
    
    background-color: rgb(228, 228, 228);

    box-sizing: border-box;
}

.title{
    margin-bottom: 5%;

    font-size: 48px;
}

.name{
    text-transform: uppercase;
    color: rgb(127,127,127);
}

.description{

    font-size: 1.7em;
}

.description > p{
    margin: 1.7% 0;
}

.project{
    margin-bottom: 6%;
}

.div-title{
    margin-bottom: 4%;
    text-align: center;
    font-size: 38px;
    
    text-transform: uppercase;
}

.project-time{
    margin-bottom: 2%;

    font-weight: 100;
    color: rgb(127,127,127);
}

.project-description{
    font-size: 1.5em;
}

.course{
    margin-bottom: 4%;
}

.where, .course-duration{
    font-weight: normal;
}