body{
    font-family: sans-serif;
}

*{
    margin: 0;
}

.body{
    display: flex;
}

.mainContent{
    width: 61.70%;
    padding: 20px 30px;

    box-sizing: border-box;
}

.aside{
    width: 38.3%;
    
    background-color: rgb(228, 228, 228);

    box-sizing: border-box;
}

.title{
    margin-bottom: 5%;

    font-size: 48px;
}

.name{
    text-transform: uppercase;
    color: rgb(127,127,127);
}

.description{
    margin-bottom: 5%;

    font-size: 1.7em;
}

p{
    margin: 3% 0;
}